<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
</head>
<body>
<header>PORTFOLIO</header>
<div class="dropdown">
  <button class="dropbtn">Contact</button>
  <div class="dropdown-content"><a href="https://www.facebook.com/zhojin.kinye/"><img src="assets/img/fb.png" id="fb"></a>
  <a href="https://github.com/LagunaKc22"><img src="assets/img/s.png" id="git"></a>
  <a href="https://mail.google.com/mail/u/0/#inbox"><img src="assets/img/gmail.png" id="gm"></a>   
  </div>
</div>

<div class="cover"> </div>
<div class="content">
  <div class="pic"><img src="assets/img/db33.png"></div>


<div class="content-intro">
  <h1>KC PHILIP LAGUNA</h1>
  <label>IT STUDENT</label>
    <p>Hi, I'm Kc Philip E. Laguna. 21 years old from Tacloban City. I currently Studying in Eastern Visayas State University Main Campus, 3rd year Student with the course Bachelor of Science Information Technology.</p>
  
  <div class="content-project">
    <label>PROJECT</label>
    <p>You can view my project in: <a href=" https://github.com/LagunaKc22/Event_Driven_Act.git"><img src="assets/img/github.png" id="logo"></a></p>
  </div>  
</div>
</div>
</body>
</html>